Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- XSD Schema Definition For Hotels -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- Root Element -->
	<xs:element name="Hotels">
		<xs:complexType>
			<xs:sequence>

				<!-- Hotel Element -->
				<xs:element name="Hotel" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>

							<!-- Name Element -->
							<xs:element name="Name" type="xs:string"/>

							<!-- Phone Element -->
							<xs:element name="Phone" type="xs:string" maxOccurs="unbounded"/>

							<!-- Address Element -->
							<xs:element name="Address">
								<xs:complexType>
									<xs:sequence>

										<!-- Street Element -->
										<xs:element name="Street" type="xs:string"/>

										<!-- City Element -->
										<xs:element name="City" type="xs:string"/>

										<!-- State Element -->
										<xs:element name="State" type="xs:string"/>

										<!-- Zip Element -->
										<xs:element name="Zip" type="xs:string"/>

									</xs:sequence>

									<!-- Number Attribute -->
									<xs:attribute name="Number" type="xs:int" use="required"/>

								</xs:complexType>
							</xs:element>

						</xs:sequence>

						<!-- Rating Attribute -->
						<xs:attribute name="Rating" type="xs:decimal" use="required"/>

						<!-- NearestAirport Attribute -->
						<xs:attribute name="NearestAirport" type="xs:string" use="optional"/>

					</xs:complexType>
				</xs:element>

			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
