Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- XSD Schema Definition For Hotels -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- Rating Type -->
	<xs:simpleType name="RatingType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="5"/>
			<xs:fractionDigits value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- Phone Type -->
	<xs:simpleType name="PhoneType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{3}-\d{3}-\d{4}"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- State Type -->
	<xs:simpleType name="StateType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- Zip Type -->
	<xs:simpleType name="ZipType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{5}"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- Root Element -->
	<xs:element name="Hotels">
		<xs:complexType>
			<xs:sequence>

				<!-- Hotel Element -->
				<xs:element name="Hotel" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>

							<!-- Name Element -->
							<xs:element name="Name" type="xs:string"/>

							<!-- Phone Element -->
							<xs:element name="Phone" type="PhoneType" minOccurs="1" maxOccurs="unbounded"/>

							<!-- Address Element -->
							<xs:element name="Address">
								<xs:complexType>
									<xs:sequence>

										<!-- Street Element -->
										<xs:element name="Street" type="xs:string"/>

										<!-- City Element -->
										<xs:element name="City" type="xs:string"/>

										<!-- State Element -->
										<xs:element name="State" type="StateType"/>

										<!-- Zip Element -->
										<xs:element name="Zip" type="ZipType"/>

									</xs:sequence>

									<!-- Number Attribute -->
									<xs:attribute name="Number" type="xs:int" use="required"/>

								</xs:complexType>
							</xs:element>

						</xs:sequence>

						<!-- Rating Attribute -->
						<xs:attribute name="Rating" type="RatingType" use="required"/>

						<!-- NearestAirport Attribute -->
						<xs:attribute name="NearestAirport" type="xs:string" use="optional"/>

					</xs:complexType>
				</xs:element>

			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
